@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
    padding-top: 2px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s; 
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.9;
}
.hamburger.is-active:hover {
    opacity: 0.9;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    @apply bg-white;
}
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    @apply bg-white;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}
.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
    transition:
        top 0.075s 0.12s ease,
        opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
    transition:
        bottom 0.075s 0.12s ease,
        transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition:
        top 0.075s ease,
        opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition:
        bottom 0.075s ease,
        transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
 .custom-splide .splide__pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem; 
    margin-top: 1rem;
   bottom: -1.5rem;
    position: absolute;
  }

  .custom-splide .splide__pagination__page {
    width: 32px;
    height: 8px;
    border-radius: 9999px;
    background-color: white;
    border: 2px solid #163977; 
    opacity: 1;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .custom-splide .splide__pagination__page.is-active {
    background-color: #163977; 
    border-color: #163977;
  }